@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

:root {
  --color-dark: #000000;
  --color-dark-gray: #1c1c1c;
  --color-light: #ffffff;
  --color-light-gray: #312f30;
  --color-accent: #f6762c;

  --container-width: 1143px;

  --button-width: 165px;
  --button-height: 50px;

  --border-radius: 5px;

  --transition-duration: 0.2s;

  --font-family-base: "Roboto", sans-serif;
}

a,
button,
textarea,
input,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 50px;
  background-color: var(--color-accent);
  border-radius: var(--border-radius);
  color: var(--color-light);
}

.button:hover {
  background: var(--color-light);
  color: var(--color-dark);
}

body {
  font-family: var(--font-family-base);
  font-size: 16px;
  color: var(--color-light);
  background-color: var(--color-dark-gray);
}

.container {
  max-width: var(--container-width);
  margin-right: auto;
  margin-left: auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 15px;
  flex-wrap: wrap;
}

.header__menu-list {
  display: flex;
  column-gap: 28px;
}

.header__menu-link {
  display: inline-flex;
  height: 80px;
  align-items: center;
  color: var(--color-light);
  font-size: 14px;
  opacity: 0.7;
}

.header__menu-item .is-current {
  font-weight: 700;
  font-size: 15px;
  opacity: 1;
}

@media (max-width: 767px) {
  .header__menu {
    flex-basis: 100%;
    order: 1;
  }

  .header__menu-list {
    flex-wrap: wrap;
  }

  .header__menu-link {
    height: 35px;
  }
}
