@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

:root {
  --color-dark: #000000;
  --color-dark-gray: #1c1c1c;
  --color-light: #ffffff;
  --color-light-gray: #312f30;
  --color-accent: #f6762c;

  --container-width: 1143px;

  --button-width: 165px;
  --button-height: 50px;

  --border-radius: 10px;
  --button-border-radius: 5px;

  --transition-duration: 0.2s;

  --font-family-base: "Roboto", sans-serif;
}

a,
button,
textarea,
input,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 50px;
  background-color: var(--color-accent);
  border-radius: var(--button-border-radius);
  color: var(--color-light);
}

.button:hover {
  background: var(--color-light);
  color: var(--color-dark);
}

body {
  font-family: var(--font-family-base);
  font-size: 16px;
  color: var(--color-light);
  background-color: var(--color-dark-gray);
}

.container {
  max-width: var(--container-width);
  margin-right: auto;
  margin-left: auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 15px;
  flex-wrap: wrap;
}

.header__menu-list {
  display: flex;
  column-gap: 28px;
}

.header__menu-link,
.banner__subtitle {
  font-size: 14px;
}

.header__menu-link {
  display: inline-flex;
  height: 80px;
  align-items: center;
  color: var(--color-light);
  opacity: 0.7;
}

.header__menu-item .is-current {
  font-weight: 700;
  font-size: 15px;
  opacity: 1;
}

.header__menu-link:hover {
  opacity: 1;
}

.banner {
  margin-top: -100px;
  padding-top: 440px;
  padding-bottom: 260px;
  background: url(/images/burger-banner-image.jpg) center/cover no-repeat;
}

.banner__subtitle {
  letter-spacing: 1.4px;
  font-weight: 500;
  margin-bottom: 7px;
}

.banner__title,
.banner__subtitle {
  font-weight: 500;
}

.banner__title {
  max-width: 555px;
  font-size: clamp(30px, 4vw, 57px);
  line-height: 1.3;
  margin-bottom: 37px;
}

.banner__description {
  max-width: 523px;
  font-size: 18px;
  color: var(--color-light);
  opacity: 0.7;
  margin-bottom: 42px;
}

.food__inner {
  display: flex;
  justify-content: center;
  padding-top: 115px;
  padding-bottom: 100px;
}

.food__inner-list {
  display: flex;
  column-gap: 30px;
}

.food__inner-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 262px;
  text-align: center;
  background-color: var(--color-light-gray);
  border-radius: var(--border-radius);
}

.food-list-text {
  padding-top: 28px;
  padding-inline: 20px;
  padding-bottom: 35px;
}

.food-list-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 13px;
}

.food-list-description {
  font-size: 16px;
  opacity: 0.7;
}

.order__section {
  background-color: var(--color-light-gray);
}

.order__section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 23px;
}

.order__section-text {
  padding-block: 165px;
  margin-left: 158px;
}

.order__section-title {
  font-size: clamp(25px, 2.3vw, 44px);
  margin-bottom: 24px;
  font-weight: 500;
}

.order__section-description {
  max-width: 368px;
  margin-bottom: 13px;
  opacity: 0.7;
}

.order__section-price {
  display: flex;
  align-items: center;

  column-gap: 6px;
  margin-bottom: 22px;
  color: var(--color-accent);
}

.order__section-price .actual-price {
  font-size: 20px;
  font-weight: 500;
  line-height: 2px;
}

.order__section-price .precedent-price {
  letter-spacing: 1.6px;
  opacity: 0.5;
  text-decoration: line-through;
}

@media (max-width: 1220px) {
  .banner {
    padding-top: 200px;
    padding-bottom: 130px;
  }
  .banner__inner {
    padding-left: 30px;
  }

  .food__inner-list {
    column-gap: 15px;
  }
}

@media (max-width: 1100px) {
  .food__inner-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .order__section-text {
    margin-left: 0;
  }
}

@media (max-width: 1024px) {
  .banner__title {
    margin-bottom: 13px;
  }
  .banner__description {
    margin-bottom: 20px;
  }

  .food__inner {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .order__section-text {
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .header__menu {
    flex-basis: 100%;
    order: 1;
  }

  .header__menu-list {
    flex-wrap: wrap;
  }

  .header__menu-link {
    height: 35px;
  }

  .banner {
    margin-top: -150px;
    padding-bottom: 75px;
    padding-right: 45px;
  }

  .order__section-wrapper {
    flex-direction: column;
  }

  .order__section-text {
    padding-block: 0;
    padding-bottom: 15px;
    padding-left: 10px;
  }
}

@media (max-width: 570px) {
  .food__inner-list {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 390px) {
  .banner {
    margin-top: -170px;
  }
}
